.keyboard {
  align-content: space-evenly;
  background: #0e0e0e;
  border-radius: 0 0 15px 15px;
  color: lime;
  display: grid;
  flex: 1 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.keyboard header {
  color: #efefef;
  font-size: 1rem;
}

.keyboard .letter.available {
  cursor: pointer;
}

.keyboard .letter.unavailable {
  cursor: not-allowed;
}

.keyboard-row {
  display: grid;
}

.keyboard-1 {
  grid-template-columns: repeat(10, 1fr);
}

.keyboard-2 {
  grid-template-columns: repeat(9, 1fr);
}

.keyboard-3 {
  grid-template-columns: repeat(7, 1fr);
}

.keyboard-3 div:first-child {
  border-radius: 0 0 0 15px;
}

.keyboard-3 div:last-child {
  border-radius: 0 0 15px 0;
}

@media only screen and (min-width: 768px) {
  .keyboard header {
    font-size: 2rem;
  }
  .keyboard .letter {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {}