.wordArea {
  background: #0e0e0e;
  display: grid;
  font-size: 0.6250rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.wordArea div {
  border-right: 1px solid lime;
  border-bottom: 1px solid lime;
  padding: 0.3125rem;
}

.wordArea div:first-child {
  border-left: 1px solid lime;
}

@media only screen and (min-width: 375px) {
  .wordArea {
    font-size: 0.7500rem;
  }
}