@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html, body {
  font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
  height: 100%;
  text-align: center;
  width: 100%;
}