* {
  box-sizing: border-box;
}

html, body, #root, .Game {
  background: #d9d7c5;
  display: flex;
  font: 100%/1.5 'Press Start 2P', 'Lucida Console', Monaco, monospace;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

main {
  /* background-color: #0e0e0e; */
  color: lime;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
  width: 100%;
}

main header, main section {
  flex: 0 1 auto;
}

main::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

main::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

header, footer {
  color: #efefef;
  font-size: 0.7500rem;
  padding: 1.25rem;
  background: #0e0e0e;
}

header {
  border-radius: 15px 15px 0 0;
}

footer .footer-name {
  display: block;
}

@media only screen and (min-width: 375px) {
  header, footer {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  main {
    padding: 2rem;
  }
  header {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    font-size: 2.25rem
  }
}